name: Validate OpenAPI Specification

defaults:
  run:
    shell: sh

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

  openapi-validation:
    name: OpenAPI Spec Validation
    runs-on: ubuntu-latest
    needs: setup
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        ref: ${{ github.sha }}

    - name: Validate OpenAPI Specification
      uses: jakubfilo/openapi-validator@main
      with:
        spec-path: ./src/main/resources/api/school-service-api.yaml
